# This will call init-done once all services have been started
 
[Unit]
Description=Indicate boot is done
After=start-user-session.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/lib/startup/init-done /run/systemd/boot-status/init-done

[Install]
WantedBy=graphical.target

