# Copyright (C) 2013 Jolla Oy
# Contact: Pekka Lundstrom  <pekka.lundstrom@jollamobile.com>
#
# Starts user session either with USER or ACT_DEAD mode
# Mode is selected with %I

[Unit]
Description=User Session in %I mode
After=systemd-user-sessions.service

[Service]
Type=oneshot
Environment=RESTART_FILE=/home/nemo/.restart-user
ExecStart=/usr/lib/startup/start-user-session %I
# Enable these some day
# Restart=on-failure
# RestartSec=1
# StartLimitInterval=120
# StartLimitBurst=3
# StartLimitAction=reboot
